@use './variabiles.scss' as *;

body{
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

header{
  nav{
    ul{
      a{
        font-weight: bold;
        color: $white;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

main{
  .container{
    .row{
      .col{
        .card{
          .card-text{
            .price{
              font-size: .9rem;
              span{
                color: $red;
                font-weight: bold;
                &:nth-child(2){
                  font-size: .85rem;
                  color: black;
                  text-decoration: line-through;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

footer{
  color: $white;
  a{
    color: $white;
    &:hover{
      cursor: pointer;
    }
  }
}